@import "tailwindcss";

/* Exposición de las variables en el theme */
@theme {
  --color-color-text: var(--color-text);
  --color-color-subtext: var(--color-subtext);
  --color-color-bg: var(--color-bg);
  --color-color-main: var(--color-main);
  --color-color-second: var(--color-second);
  --color-color-heading: var(--color-heading);
  --color-color-border: var(--color-border);
  --color-color-primary: var(--color-primary);
  --color-color-secondary: var(--color-secondary);
  --color-color-accent: var(--color-accent);
  --color-color-hover: var(--color-hover);
}

/* 💡 Colores para modo claro */
:root {
  --color-bg: #ffffff;
  --color-main: #ffffff;
  --color-second: #ebebeb;
  --color-heading: #0d1117;
  --color-text: #1f2937;
  --color-subtext: #4b5563;
  --color-border: #d1d5db;
  --color-primary: #6d28d1;
  --color-secondary: #882de0;
  --color-accent: #c7d2fe;
  --color-hover: #374151;
}

/* 🌙 Colores para modo oscuro */
.dark {
  --color-bg: #161b22;
  --color-main: #121212;
  --color-second: #21262d;
  --color-heading: #ffffff;
  --color-text: #c9d1d9;
  --color-subtext: #aab2bb;
  --color-border: #5b6473;
  --color-primary: #6d28d1;
  --color-secondary: #882de0;
  --color-accent: #c7d2fe;
  --color-hover: #e5e7eb;
}
